@mixin centrar {
    display: block;
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cuprum',Helvetica,Arial,Lucida,sans-serif;
}
header{
    grid-area: header;
    z-index: 1000;
        nav{
            background-color:#7CDA24 ;
            img{
                width: 20vw;
            }
            .nav-link{
                color: #282828;
                font-size: 20px;
            }
        }
}
h1{
    text-align: center;
    padding: 20px;
}
.inscripcion{
    text-align: center;
    padding: 20px;
}
iframe{
    @include centrar();
    width: 55%;
    height: 35vw;
    padding: 20px;
}
footer{
    grid-area: footer;
    img{
        padding: 0px 10px;
    }
}
@media screen and (max-width:768px){
    header{
        nav{
            img{
                width: 50vw;
            }
        }
    }
    iframe{
        max-height: 220px;
    }
}
@media screen and (max-width:1024px){
        iframe{
            width: 80vw;
            height: 30vh;
        }
    }
